/*
    Name: Osinachi-Nnedu Chiemerie
    File: style.css
    Date: 2026-02-20
    Description: CSS file for my html file
*/
* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #333333;
  margin: 0;
  font: 1.2em / 1.6 sans-serif;
}

img {
  max-width: 100%;
  display: block;
  border: 1px solid black;
}

.logo {
  font-size: 200%;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 980px;
}

.grid {
  margin: 0 auto;
  max-width: 980px;
  /*Display the <article> and <aside> elements as a two-column layout, with the former three times as wide as the latter. The columns should be a flexible size so that if the browser window gets narrower, the columns become narrower. Include a 20-pixel gap between the two columns.*/
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  gap: 20px;
}

nav {
  background-color: black;
  padding: 0.5em;
  /* Make navigation bar scroll with content nirmally*/
  top: 0;
  position: sticky;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /* Display the navigation items in a row*/
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
}

.photos {
  list-style: none;
  margin: 0;
  padding: 0;
  /*The photographs should display as a two-column grid with equal-sized columns and a 5-pixel gap between the images.*/
  display: grid;
  gap: 5px;
  grid-template-columns: 0.5fr 0.5fr;
}

.feature {
  width: 200px;
  /* Cause the "feature" image inside the article to have text wrapped around it to the right and bottom, with a suitable amount of space between the image and the text.*/
  float: left;
  margin: 10px 30px 20px 0;
}