/*
    Name: Osinachi-Nnedu Chiemerie
    File: style.css
    Date: 2026-02-20
    Description: CSS file for my html file
*/
html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
}